body {
    font-family: 'Arial', sans-serif;
    background-color: #db8ad5;
    margin: 0;
    padding: 20px;
    color: #333;
}

#taskApp {
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: 900px;
    margin: auto;
    overflow-y: hidden;
}

#taskInput {
    width: calc(100% - 40px);
    box-sizing: border-box;
    overflow-y: hidden;
    resize: none;
    border: 2px solid #845EC2; /* Morado */
    padding: 10px;
    color: #333;
}

#taskList {
    list-style: none;
    padding: 0;
}

.task-item {
    padding: 10px;
    border-bottom: 1px solid #000000; /* Azul verdoso */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: #ffffff; /* Amarillo claro */
}

.task-completed {
    text-decoration: line-through;
    color: #C34A36; /* Rojo */
}

button {
    cursor: pointer;
    background-color: #0081CF; /* Azul */
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #005691; /* Azul oscuro */
}

#taskApp > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

button#addTaskBtn {
    padding: 10px 20px; /* Más relleno para un botón más grande */
    font-size: 18px; /* Letra más grande para una mejor visibilidad */
    border-radius: 8px; /* Bordes más redondeados para un aspecto más suave */
    transition: background-color 0.3s; /* Mantiene la transición suave para el cambio de color */
}

#counters p {
    background-color: #845EC2; /* Morado */
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    margin-top: 0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}